In [46]:
# Segment One Machine Learning Model
# Simple Model to show proof of concept
# Will read in sample database, illustrate the split, train, test approach
# Will output labels or predictions of outcomes
# Initial version by Josh Stowe, Team Hansen Brothers, Final Capstone Project 202211/2

In [47]:
# mlenv (Python 3.7.13)
# Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [48]:
# Load the game stats database for split, train, test
file_path = Path('Resources/game_teams_stats_mockup.csv')
df = pd.read_csv(file_path)
df.head()

,game_id,settled_in,Home_id,Away_id,winner_id,home_hits,home_pp_perc,home_pp_opp,home_FO_perc,home_giveaways,...,home_blocked,home_start,away_hits,away_pp_perc,away_pp_opp,away_FO_perc,away_giveaways,away_takeaways,away_blocked,away_start
0,2016020045,REG,16,4,16,20,0.666667,3,49.1,16,...,9,left,30,0.500000,4,50.9,12,9,11,left
1,2017020812,OT,7,24,24,17,0.500000,2,56.2,5,...,14,right,16,0.333333,3,43.8,7,4,14,right
2,2015020314,REG,52,21,21,22,0.000000,2,54.3,13,...,9,left,17,0.333333,3,45.7,13,5,20,left
3,2015020849,REG,12,52,12,16,0.400000,5,68.6,12,...,13,left,21,0.000000,4,31.4,4,14,16,left
4,2017020586,REG,24,20,24,15,0.166667,6,45.3,13,...,21,right,20,0.000000,3,54.7,10,4,7,right

# Placeholder for preprocessing

In [49]:
# preprocessing, TBC after db cleaning complete

# Split the Data into Training and Testing

In [50]:
# Create the features
X = df.drop(columns="winner_id")
X.head()

,game_id,settled_in,Home_id,Away_id,home_hits,home_pp_perc,home_pp_opp,home_FO_perc,home_giveaways,home_takeaways,home_blocked,home_start,away_hits,away_pp_perc,away_pp_opp,away_FO_perc,away_giveaways,away_takeaways,away_blocked,away_start
0,2016020045,REG,16,4,20,0.666667,3,49.1,16,8,9,left,30,0.500000,4,50.9,12,9,11,left
1,2017020812,OT,7,24,17,0.500000,2,56.2,5,6,14,right,16,0.333333,3,43.8,7,4,14,right
2,2015020314,REG,52,21,22,0.000000,2,54.3,13,7,9,left,17,0.333333,3,45.7,13,5,20,left
3,2015020849,REG,12,52,16,0.400000,5,68.6,12,11,13,left,21,0.000000,4,31.4,4,14,16,left
4,2017020586,REG,24,20,15,0.166667,6,45.3,13,4,21,right,20,0.000000,3,54.7,10,4,7,right

In [51]:
# create the target
y = df["winner_id"]
y.head()

0    16
1    24
2    21
3    12
4    24
Name: winner_id, dtype: int64

In [52]:
X.describe()

,game_id,Home_id,Away_id,home_hits,home_pp_perc,home_pp_opp,home_FO_perc,home_giveaways,home_takeaways,home_blocked,away_hits,away_pp_perc,away_pp_opp,away_FO_perc,away_giveaways,away_takeaways,away_blocked
count,2.000000e+01,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,2.016171e+09,20.750000,22.100000,23.350000,0.236667,3.100000,52.035000,10.300000,6.60000,12.95000,20.750000,0.170000,3.100000,47.965000,7.000000,5.000000,13.800000
std,8.127657e+05,16.231467,17.250172,7.450009,0.210929,1.447321,6.550554,3.555574,3.84434,4.82837,7.383303,0.187130,1.165287,6.550554,3.539254,3.371709,4.990517
min,2.015020e+09,1.000000,2.000000,10.000000,0.000000,1.000000,42.400000,3.000000,2.00000,2.00000,8.000000,0.000000,1.000000,31.400000,3.000000,2.000000,6.000000
25%,2.015770e+09,7.750000,8.750000,19.250000,0.000000,2.000000,48.475000,8.500000,4.00000,9.00000,16.750000,0.000000,2.000000,44.325000,4.000000,2.000000,10.500000
50%,2.016020e+09,20.500000,20.500000,22.000000,0.250000,3.000000,51.750000,11.000000,6.00000,13.00000,21.000000,0.125000,3.000000,48.250000,6.000000,4.000000,14.500000
75%,2.017021e+09,25.250000,25.250000,27.750000,0.350000,4.000000,55.675000,13.000000,8.25000,16.25000,23.250000,0.333333,4.000000,51.525000,10.000000,5.750000,17.000000
max,2.017021e+09,53.000000,52.000000,36.000000,0.666667,6.000000,68.600000,16.000000,17.00000,21.00000,35.000000,0.500000,5.000000,57.600000,13.000000,14.000000,24.000000

In [53]:
X.dtypes

game_id             int64
settled_in         object
Home_id             int64
Away_id             int64
home_hits           int64
home_pp_perc      float64
home_pp_opp         int64
home_FO_perc      float64
home_giveaways      int64
home_takeaways      int64
home_blocked        int64
home_start         object
away_hits           int64
away_pp_perc      float64
away_pp_opp         int64
away_FO_perc      float64
away_giveaways      int64
away_takeaways      int64
away_blocked        int64
away_start         object
dtype: object

In [54]:
# Placeholder for column data type conversion

In [55]:
# Create train, test datasets
# Intention is to test sensitivity of test accuracy with the train/test size and select the split ratio that gives the 
# best accuracy prior to anyother sampling adjustments.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42,stratify=None, test_size=0.15)

In [56]:
X_train.head()

,game_id,settled_in,Home_id,Away_id,home_hits,home_pp_perc,home_pp_opp,home_FO_perc,home_giveaways,home_takeaways,home_blocked,home_start,away_hits,away_pp_perc,away_pp_opp,away_FO_perc,away_giveaways,away_takeaways,away_blocked,away_start
1,2017020812,OT,7,24,17,0.500000,2,56.2,5,6,14,right,16,0.333333,3,43.8,7,4,14,right
8,2017020624,REG,21,29,20,0.333333,3,42.4,5,5,13,left,12,0.000000,3,57.6,3,8,14,left
5,2016020610,REG,8,15,27,0.250000,4,53.4,12,7,18,left,19,0.500000,2,46.6,8,5,24,left
11,2016020298,REG,26,2,30,0.000000,2,46.6,9,2,19,left,35,0.000000,2,53.4,12,2,17,left
3,2015020849,REG,12,52,16,0.400000,5,68.6,12,11,13,left,21,0.000000,4,31.4,4,14,16,left

In [57]:
X_test.head()

,game_id,settled_in,Home_id,Away_id,home_hits,home_pp_perc,home_pp_opp,home_FO_perc,home_giveaways,home_takeaways,home_blocked,home_start,away_hits,away_pp_perc,away_pp_opp,away_FO_perc,away_giveaways,away_takeaways,away_blocked,away_start
0,2016020045,REG,16,4,20,0.666667,3,49.1,16,8,9,left,30,0.5,4,50.9,12,9,11,left
17,2017020986,OT,25,14,36,0.333333,3,55.9,16,6,17,left,23,0.0,3,44.1,8,2,13,left
15,2016020107,OT,1,16,22,0.250000,4,43.3,7,7,16,right,21,0.4,5,56.7,5,5,6,right

In [58]:
y_train.head()

1     24
8     21
5     15
11    26
3     12
Name: winner_id, dtype: int64

In [59]:
y_test.head()

0     16
17    14
15    16
Name: winner_id, dtype: int64

In [60]:
# Placeholder for any scaler implementation

# ML model

In [ ]:
# placeholder for multivariate linear regression, supervised ML since target is labeled; ML model requires dtypes conversions

# model = LinearRegression()

# # Fit the model to the training data, and calculate the scores for the training and testing data.
# model.fit(X_train, y_train)
# training_score = model.score(X_train, y_train)
# testing_score = model.score(X_test, y_test)

# print(f"Training Score: {training_score}")
# print(f"Testing Score: {testing_score}")